# Techniques utiles de manipulation de donnees avec la librairie Pandas

Concatenating objects

The concat() function (in the main pandas namespace) does all of the heavy lifting of performing concatenation operations along an axis while performing optional set logic (union or intersection) of the indexes (if any) on the other axes. Note that I say “if any” because there is only a single possible axis of concatenation for Series.

Suppose you have multiple dataframes with the same fields and you want to combine them into one along the row axis. Or, if you have additional fields for your current data that you wanted to add, you can concatenate them along the axis of the columns. we will see how to concatenate two or more dataframes with Pandas

In [2]:
#je vais commencer par importer le module pandas 

import pandas as pd

In [3]:
# concatenation verticale

#creation de deux DataFrames
df1 = pd.DataFrame({'Nom':['stephane','Dilan'],'Age' : [25,28]})
df2 = pd.DataFrame({'Nom':['Sylvie','Luc'],'Age' : [35,50]})

#affichage des dataframes
print("DataFrame df1 :\n")
print(df1)
print("\nDataFrame df2 :")
print(df2)

#concatenation verticale des dataFrames 
df_concat = pd.concat([df1,df2])
#affichage du resultat
print("\n Resultat de la concatenation \n")
print(df_concat)

DataFrame df1 :

        Nom  Age
0  stephane   25
1     Dilan   28

DataFrame df2 :
      Nom  Age
0  Sylvie   35
1     Luc   50

 Resultat de la concatenation

        Nom  Age
0  stephane   25
1     Dilan   28
0    Sylvie   35
1       Luc   50

In [5]:
#concatenation horizontale des dataFrames 
df_concat = pd.concat([df1,df2] , axis = 1)
#affichage du resultat
print("\n Resultat de la concatenation \n")
print(df_concat)

 Resultat de la concatenation

        Nom  Age     Nom  Age
0  stephane   25  Sylvie   35
1     Dilan   28     Luc   50